communote.application.version=3.4.1.5766
communote.hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
communote.database.host={{ groups.backend[0] }}
communote.database.protocol=jdbc\:mysql
communote.database.useSSL=false
communote.database.user.name={{ cnote_db_user }}
communote.database.name={{ cnote_db_database }}
communote.installation.done=true
communote.database.port=3306
communote.database.driver.classname=com.mysql.jdbc.Driver
communote.database.use.fulltextsearch=true
communote.database.user.password={{ cnote_db_password }}
